<!DOCTYPE html>
<html>
    <head>
            <title>Light Notifications</title>
            <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    </head>
    <body>
        <font size="+3">
            <h4>The Last 4 notifications will show up here</h4>
        </font>
        <!-- Event Source Updates of the notifications List Here-->
        <font size="+2">
            <div id="serverData1">
            </div>
        </font>

        <!-- Script for getting the updates from the server -->
        <script type="text/javascript">
            //check for browser support
            if(typeof(EventSource)!="undefined"){
                //create an object, passing it the name and location
                //of the server side script
                var eSource = new EventSource("/GetData1");
                eSource.onmessage = function (event){
                    //parsiing the data from the event and indexing through the JSON
                    var data = JSON.parse(event.data)
                    
                    //erase the previous data and print the updated list
                    document.getElementById("serverData1").innerHTML = "";
                    for(var key in data){
                        document.getElementById("serverData1").innerHTML += data[key] + "<br>";
                    }
                }
            }
            else{
                document.getElementById("serverData1").innerHTML = 
                "Your browser doesn't recieve server-sent events.";
            }
        </script>
    </body>
</html>
