<!DOCTYPE html>
<html>
    <head>
            <title>Test Notification</title>
    </head>
    <body>
        <h4>The Last 4 notifications will show up here</h4>
        <!-- Event Source Updates of the notifications List Here-->
        <div id="serverData1">
            <ul style="list-style-type:none;">
                <li id="data1"></li>
                <li id="data2"></li>
                <li id="data3"></li>
                <li id="data4"></li>
            </ul>
        </div>

        <!-- Script for getting the updates from the server -->
        <script type="text/javascript">
            //check for browser support
            if(typeof(EventSource)!="undefined"){
                const ListData = ["data1", "data2", "data3", "data4"];
                var ListIndex = 0;
                //create an object, passing it the name and location
                //of the server side script
                var eSource = new EventSource("/GetData1");
                eSource.onmessage = function (event){
                    //parsiing the data from the event and indexing through the JSON
                    var data = JSON.parse(event.data)
                    for(var key in data){
                    document.getElementById(ListData[ListIndex]).innerHTML = data[key] + "<br>";
                    ListIndex++;
                    }
                }
            }
            else{
                document.getElementById("serverData1").innerHTML = 
                "Your browser doesn't recieve server-sent events.";
            }
        </script>
    </body>
</html>
